<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Name: </p>
  <input type='text' name='shelter[name]'/></br>
  <p>Address: </p>
  <input type='text' address='shelter[address]'/></br>
  <p>City: </p>
  <input type='text' city='shelter[city]'/></br>
  <p>State: </p>
  <input type='text' state='shelter[state]'/></br>
  <p>Zip: </p>
  <input type='text' zip='shelter[zip]'/></br>
</form>
