/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    font: normal 18px Verdana, Arial, sans-serif;
    background-color: slategrey
}

 img {
     width:  400px;
     height: 400px;
 }

 .title {
  text-align: center;
  border: 3px solid green;
  background-color: lightgrey;
}

.nav {
  background-color: lightyellow;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px
}

.menu {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
  font-size: 20px;
  padding: 20px
}

div.shelter {
  background-color: lightgrey;
  border: 1px solid green;
  text-align: center;
}

div.sheltershow {
  text-align: center;
}

div.gallery {
  margin: 35px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 400px;
  height: 400px;
}

div.desc {
  padding: 15px;
  text-align: left;
  background-color: white;
}

div.link {
  position:fixed;
  bottom:10px;
  right:0px;
  height:20px;
  width:250px;
  background-color:#cf8;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
}

a:active {
  color: blue;
}

.pet_link {
  text-align: center;
}

.shelter_link {
  text-align: center
}
